.admin-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-links a .button {
    width: 100%; /* Делает кнопку внутри Link на всю ширину */
    box-sizing: border-box; /* Учитывает padding и border в ширине */
}