/* Стили для контейнера страницы бренда */
.brand-container {
  text-align: center; /* Центрируем текст */
}

/* Стили для информации о бренде */
.brand-info {
  display: block;
  max-width: 700px; /* Максимальная ширина */
  margin: 0 0 10px 0; /* Отступ между строками */
}

/* Стили для сетки карточек */
.cards-grid {
  display: flex; /* Flexbox для выравнивания */
  flex-direction: column; /* Вертикальное расположение */
  gap: 10px; /* Отступ между карточками */
}

/* Эффект наведения на ссылку */
.details-link:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

/* Стили для сообщения об отсутствии энергетиков */
.no-energy {
  text-align: center; /* Центрируем текст */
  font-size: 18px; /* Размер шрифта */
  color: var(--text-color); /* Цвет текста */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .cards-grid {
    gap: 5px; /* Уменьшаем отступ между карточками */
  }
  .card img {
    width: 40px; /* Уменьшаем размер изображения */
  }
  h3 {
    font-size: 14px; /* Уменьшаем размер текста */
  }
}