/* Мини контейнер для кнопок переключения */
.toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

/* Стили для кнопок переключения (неактивная кнопка)*/
.toggle-buttons button {
  background-color: var(--card-background);
  color: var(--primary-color);
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}

/* Стили для активной кнопки */
.toggle-buttons button.active {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

/* Кнопка "Фильтр" */
.filter-toggle {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 16px;
  text-align: right;
  transition: var(--transition);
  gap: 8px;
}

/* Стили для иконки фильтра */
.filter-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

/* Поворот иконки при открытом фильтре */
.filter-icon.open {
  transform: rotate(180deg);
}

/* Стили для панели фильтрации */
.filter-panel {
  margin-bottom: 20px;
  padding: 15px;
  background: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

/* Диапазон рейтинга */
.rating-filter {
  margin: 20px 0;
}

/* Диапазон рейтинга надпись */
.rating-filter h4 {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
}

/* Стили для ползунка */
.rc-slider {
  margin: 10px 0;
}

/* Цифры 0 и 10 */
.rating-values {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--text-color);
}

/* Адаптивность для мобильных устройств */
@media (max-width: 480px) {

  .toggle-buttons button {
    width: 100%;
    padding: 10px;
  }

  .filter-panel {
    padding: 10px;
  }

  .filter-toggle {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}