
/* Мини контейнер для кнопок переключения */
.toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

/* Стили для кнопок переключения (неактивная кнопка)*/
.toggle-buttons button {
  background-color: var(--card-background);
  color: var(--primary-color);
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}

/* Стили для активной кнопки */
.toggle-buttons button.active {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

/* Стили для сетки карточек */
.cards-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}