/* Стили для контейнера страницы Топ 100 */
.top100-container {
  text-align: left; /* Центрируем текст */
}

/* Стили для кнопок переключения */
.toggle-buttons {
  display: flex; /* Flexbox для выравнивания */
  justify-content: center; /* Центрируем кнопки */
  gap: 10px; /* Отступ между кнопками */
  margin-bottom: 15px; /* Отступ снизу */
}

/* Стили для кнопок переключения (неактивная кнопка)*/
.toggle-buttons button {
  background-color: var(--card-background); /* Фон кнопки */
  color: var(--primary-color); /* Цвет текста */
  border: none; /* Убираем границу */
  padding: 8px 16px; /* Внутренние отступы */
  border-radius: 8px; /* Скругленные углы */
}

/* Стили для активной кнопки */
.toggle-buttons button.active {
  background-color: var(--primary-color); /* Фон активной кнопки */
  color: var(--button-text-color); /* Цвет текста */
}

/* Стили для сетки карточек */
.cards-grid {
  display: flex; /* Flexbox для выравнивания */
  flex-direction: column; /* Вертикальное расположение */
  gap: 10px; /* Отступ между карточками */
}

/* Стили для переноса текста и обрезки длинных слов */
.card-content h2,
.card-content h3 {
  word-wrap: break-word; /* Перенос слов */
  overflow-wrap: break-word; /* Совместимость для переноса */
  word-break: break-word; /* Обрезка очень длинных слов */
  max-width: 100%; /* Ограничение по ширине */
}