.review-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 25px 0;
}

/* Стили для заголовка отзыва */
.review-header {
  display: flex; /* Flexbox для выравнивания */
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.review-item {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.review-average-rating {
  margin: 8px 0;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.review-average-rating .star {
  color: gold;
  margin-right: 4px;
}

.review-average-rating .rating {
  font-weight: bold;
}

.rating-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4px 0;
  margin-bottom: 8px;
}

.rating-item span:first-child {
  font-size: 1rem;
  color: var(--text-color);
}

.rating-item .rating {
  font-size: 1rem;
  font-weight: bold;
}

.details-link {
  text-decoration: none;
}

.details-link:hover {
  text-decoration: underline;
}

.review-image img {
  max-width: 100%;
  max-height: 300px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Стили для футера с датой */
.review-footer {
  width: 100%;
}

.review-date {
  font-size: 0.9rem;
  color: var(--text-color);
}

/* Стили для блока с аватаркой и именем */
.review-user {
  display: flex;
  align-items: center;
  gap: 8px; /* Отступ между аватаркой и именем */
}

/* Стили для аватарки */
.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%; /* Круглая аватарка */
  object-fit: cover;
}

/* Стили для эмодзи-заглушки */
.user-placeholder {
  font-size: 1.2rem;
}

/* Стили для имени пользователя */
.username {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}

/* Адаптивность */
@media (max-width: 768px) {
  .review-image img {
    max-height: 200px;
  }
  .review-item {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .review-image img {
    max-height: 150px;
  }
  .review-item {
    font-size: 1rem;
  }
}